<div class="d-flex aligns-items-center justify-content-center card text-center w-50 position-absolute top-50 start-50 translate-middle" style="max-width: 500px">
  <div class="card-header text-center">
    <h3>Please Login To Continue</h3>
  </div>
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill justify-content-center">
      <li [ngbNavItem]="1">
        <a ngbNavLink><h5 class="card-title">Sign In</h5></a>
        <ng-template ngbNavContent>
          <app-login></app-login>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink><h5 class="card-title">Sign Up</h5></a>
        <ng-template ngbNavContent>
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
            ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
            8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </ng-template>
      </li>
    </ul>
  
    <div [ngbNavOutlet]="nav" class="mt-2"></div>    
  </div>
</div>






