<div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="d-flex justify-content-center mt-3">
        <div class="input-group w-75">
          <div class="input-group-text" >
            <i-bs name="person"></i-bs>
          </div>
          <input formControlName="username" type="text" class="form-control" placeholder="Username or email">
        </div>
      </div>
      
      <div class="d-flex justify-content-center mt-3">
        <div class="input-group w-75">
          <div class="input-group-text" >
            <i-bs name="lock"></i-bs>
          </div>
          <input formControlName="password" type="password" class="form-control" placeholder="Password">
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <div class="col-4">
          <input name="rem" type="checkbox" checked="">
          <label class="modal-form-label" for="remember">Remember me</label>  
        </div>
        <div class="col-4">
          <a class="pull-right forgot-link" [routerLink]="['/recoveryPassword']">Forgot Password</a>          
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3 mb-3">
        <div class="col-8">
          <a class="pull-right forgot-link" [routerLink]="['/firebase']">Firebase</a>
          <button class="btn btn-success w-100" type="submit" [disabled]="!loginForm.valid">Sign In</button>
        </div>
      </div>
    </form>
</div>
<!--
<div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <div class="form-signin m-auto form-detail">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <img class="mb-4" src="../assets/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-6 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input id="floatingInput" type="text" class="form-control" formControlName="username" placeholder="Username" />
                    <label for="floatingInput">Username</label>
                </div>
                
                <div class="form-floating">
                    <input id="floatingPassword" type="password" class="form-control" formControlName="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" [disabled]="!loginForm.valid" type="submit">Login</button>
                
                <p class="mt-5 mb-3">
                    <a [routerLink]="['/register']">Register</a>
                    &nbsp;
                    <a [routerLink]="['/recoveryPassword']">Recovery Password</a>
                </p>

                <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
            </form>
        </div>
    </div>
  </div>
  -->